@import url('../css/fonts.css');


*{
    scroll-behavior: smooth;
}


body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
    position: relative;
}

:root{
    --body-background: rgba(230, 230, 230, 0.514);
    --body-background-dark: rgba(68, 68, 68, 0.514);
    --primary-color: rgb(211, 9, 76);
    --secondary-color: rgb(155, 4, 54);
    --button-primary: rgb(233, 0, 78);
    --secondary-dark: rgb(134, 117, 123);
    --white: #ffffff;
    --dark: rgb(53, 53, 53);
}

.backtop{
    z-index: 200;
    position: fixed;
    top: 85%;
    left: 95%
}

.backtop .top-inner{
    padding: .8rem 1rem;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.backtop .top-inner i{
    font-size: 1.2rem;
    color: var(--white);
}




h1,h2,h3,h4{
    color: var(--secondary-dark);
}
a{
    text-decoration: none;
    color: var(--dark);
}
.text{
    color: var(--secondary-dark);
}
.text.text-red{
    color: var(--primary-color);
}

.bg-text-red{
    background-color: var(--primary-color);
}






.btn{    
    text-transform: uppercase;
}
.btn:focus, .btn-secondary{
    box-shadow: transparent;
}
.btn.btn-primary{
    background: var(--button-primary);
    outline: none;
    border: none;
    border-radius: 0;
    color: var(--white);
}
.btn.btn-secondary{
    background: transparent;
    outline: none;
    border: 1px solid var(--button-primary);
    border-radius: 0;
    color: var(--white);
}
.btn.btn-primary:hover{
    background: transparent;
    outline: none;
    border: 1px solid var(--button-primary);
    border-radius: 0;
    color: var(--white);
}
.btn.btn-secondary:hover{
    background: var(--button-primary);
    outline: none;
    border: none;
    border-radius: 0;
    color: var(--white);
}
.btn.btn-secondary::after .btn.btn-secondary::before .btn.btn-secondary:active,
.btn.btn-primary::after .btn.btn-primary::before .btn.btn-primary:active
{
 outline: none;
 border: none;
}








.top-header{
    background-color: var(--primary-color);

}


.top-header .row{
    display: flex;
    align-items: center;
    margin: auto 0;
}

.top-header .row .text-topheader{
    color: var(--white);
    font-size: 1rem;
    font-family: 'Roboto',sans-serif;
    letter-spacing: .1rem;
    margin-top: .3rem;
}








.navbar{
    background: var(--white);
    box-shadow: -1px 2px 20px rgb(77, 77, 77);
}

.navbar .container .navbar-brand{
    color:var(--primary-color);
    font-size: 1.8rem;
    font-family: 'Nunito',sans-serif;
}
.navbar .container .navbar-brand span{
    color: var(--secondary-color);
    transform: rotateX(180);
}


.navbar .container .nav-item {
    padding: 0 .6rem;
}
.navbar .container .nav-item.active .nav-link{
    padding: .3rem .6rem;
    background-color: var(--primary-color);
    color: var(--white);
}
.navbar .container .nav-item .nav-link{
    color: var(--dark);
    font-size: 1rem;
    text-transform: uppercase;
}

.navbar .container .nav-item .nav-link:hover{
    padding: .3rem .6rem;
    background-color: var(--primary-color);
    color: var(--white);
}

.navbar .container .socials a i{
    color: var(--primary-color);
    font-size: 1.3rem;
}

.navbar .container .socials a i:hover{
    color: var(--dark);
}

.navbar .container .navbar-toggler{
    background: var(--primary-color);
    color: var(--white);
    border-radius: 0;
}













.hero{
    
    opacity: 0.9;
    background:rgb(77, 77, 77);
    width: 100%;
    height: auto;
}



.hero .hero-inner p{
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 800;
    font-family: 'Montserrat',sans-serif;
}

.hero .hero-inner p.hero-top-text{
    font-size: 1.8rem;
    color: #c4c4c4;
}
.hero .hero-inner p.decoration{
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}
.about-me .about-heading{
    font-family: 'Nunito',sans-serif;
}
.about-me .about-image{
    margin-left: 8rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 5px 10px rgb(190, 190, 190);
}


.about-me .about-image img{
    transition: all 1.3s ease-in;
    border-radius: 5px;
    width: 150%;
    height: auto;
    padding: 1rem 1rem;
    background: var(--white);
}

.about-me .about-image img:hover{
    transform: scale(1.4);
}

.about-me .about-text{
 margin-left: -5rem;
}

.about-me .about-text .about-text-inner{
    color: var(--secondary-dark);
    border-radius: 30rem;
    width: 100%;
    height: auto;
    padding: 3rem 4rem 3rem 4rem;
    background: var(--white);
    box-shadow: 1px 3px 15px rgba(190, 190, 190, 0.856);
}






.services{
    background: var(--body-background);
}

.services .services-heading{
    font-family: 'Nunito',sans-serif;
}

.services .row .cards{
    padding: .5rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    border: 2px solid var(--dark);
}

.services .row .cards:hover{
    background: var(--button-primary);
    border: none;
    transition: all .5s ease-in-out;
    color: var(--white);
    cursor: pointer;
}
.services .row .cards .card-titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -.5rem;
    padding: 0rem -2rem;
} 

.services .row .cards .card-titles .cards-number{
    margin-bottom: -.4rem;
    font-size: 2rem;
}

.services .row .cards .card-titles .cards-text{
    font-size: 1.5rem;
}





.skills{
    margin: 0rem 10rem;
}

.skills .skill-card{
    margin-bottom: 2rem;
}

.skills .skill-card .skills-name .skill-text{
    color: rgba(201, 92, 119, 0.842);
}



.portfolio .button-group{
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .button-group button{
    padding: 0rem 1.4rem;
    border: 0px;
    background: transparent;
    outline: none;
    color: var(--primary-color);
    font-size: 1.2rem;
}

.portfolio .button-group button.active{
    color: var(--secondary-dark);
}

.portfolio .button-group button:focus,
.portfolio .button-group button:hover{
    outline: none;
}


.portfolio .grid .element-item{
    margin-bottom: .8rem;
    box-shadow: 1px 4px 8px rgba(224, 224, 224, 0.589);
}


.portfolio .grid .element-item .portfolio-text h4{
    font-size: 1.1rem;
}


.portfolio .grid .element-item .portfolio-text p a:hover{
    color: var(--primary-color);
}










.subscribe{
    background-image: url('../img/subscribe.png') !important;
    background-position: center;
    scroll-behavior: smooth;
    transition: all 1s ease;
}
.subscribe:hover{
    transform: scale(.9);
}

.subscribe .subscribe-text h3{
    color: #ffd5e3;
    font-size: 2rem;
}
.subscribe .subscribe-text p{
    font-size: 1.1rem;
    color: #f0e3e3;
}

.subscribe .form-group .form-control{
    border-radius: 0;
    outline: hidden;
}

.subscribe .form-group .form-control:focus{
    box-shadow: 0;
}


.subscribe .form-group .form-control.btn{
    padding: 7.5px;
}














.contact .contact-heading{
    font-family: 'Nunito',sans-serif;
}

.contact .contact-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    box-shadow: 1px 4px 10px #583d3dd0;
    padding: 1rem .5rem;
}

.contact .contact-card:hover, .inner-contact-card{
    background: var(--button-primary);
}
.contact .contact-card .outer-contact-card{
    background: var(--button-primary);
    padding: .5rem .5rem;
}

.contact .contact-card .inner-contact-card{
    background: var(--white);
    padding: 1.5rem 1.8rem;
}


.contact .contact-card .inner-contact-card i{
    font-size: 1.6rem;
}

.contact .contact-card .inner-contact-card .contact-text{
    font-size: 1.2rem;
    color: var(--dark);
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
}




.footer .footer-top{
    background: #e9e9e98a;
}

.footer .footer-top li{
    list-style: none;padding-bottom: .5rem;
}


.footer .footer-top li a:hover{
    color: var(--button-primary);
}

.footer .footer-top .quick-contact li{
    font-size: 13px;
}

.footer .footer-bottom{
    background-color: var(--button-primary);
    padding: -2px;
}

.footer .footer-bottom .footer-inner{
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.footer .footer-bottom .footer-inner p a{
    color: var(--white);
}
.footer .footer-bottom .footer-inner p a:hover{
    color: var(--dark);
}
.footer .footer-bottom .footer-inner p i{
    font-size: 1.2rem;
}







#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: rgb(255, 255, 255);
}

.loader {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #2186e4;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f4369e;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #2186e4;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f4369e;
		border-left-color: transparent;
	}
}





@media (max-width: 1024px){
    #preloder {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999999;
        background: rgb(255, 255, 255);
    }
    
    .loader {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 20%;
        left: 50%;
        margin-top: -13px;
        margin-left: -13px;
        border-radius: 60px;
        animation: loader 0.8s linear infinite;
        -webkit-animation: loader 0.8s linear infinite;
    }
    
}








@media (max-width: 990px){
    #preloder {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999999;
        background: rgb(255, 255, 255);
    }
    
    .loader {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 30%;
        left: 50%;
        margin-top: -13px;
        margin-left: -13px;
        border-radius: 60px;
        animation: loader 0.8s linear infinite;
        -webkit-animation: loader 0.8s linear infinite;
    }
    
    
.backtop{
    z-index: 200;
    position: fixed;
    top: 90%;
    left: 90%
}

    .about-me .about-image{
        margin-left: 0rem;
        border-radius: 1rem;
    }
    
    .about-me .about-text{
        margin-left: 0rem;
        margin-top: -5rem;
       }
       
    .about-me .about-text .about-text-inner{
        border-radius: 30rem;
        width: 100%;
        height: auto;
        padding: 3rem;
        background: var(--white);
        box-shadow: 1px 3px 15px rgba(190, 190, 190, 0.856);
    }


    
.skills{
    margin: 0rem;
}
.portfolio .button-group{
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio .button-group button{
    padding: 0rem 1.2rem;
    border: 0px;
    background: transparent;
    outline: none;
    color: var(--primary-color);
    font-size: 1rem;
}



    .footer .footer-bottom{
        padding-top: .5rem;
      padding-bottom: 1rem;
    }
    
    .footer .footer-bottom .footer-inner{
        color: var(--white);
        display: block;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
}


@media (max-width: 490px){
    #preloder {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999999;
        background: rgb(255, 255, 255);
    }
    
    .loader {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 39%;
        left: 45%;
        margin-top: -13px;
        margin-left: -13px;
        border-radius: 60px;
        animation: loader 0.8s linear infinite;
        -webkit-animation: loader 0.8s linear infinite;
    }
    
.backtop{
    z-index: 200;
    position: fixed;
    top: 90%;
    left: 85%
}

    .about-me .about-image{
        margin-left: 0rem;
        border-radius: 1rem;
    }
    
    .about-me .about-text{
        margin-left: 0rem;
        margin-top: -1rem;
       }
       
    .about-me .about-text .about-text-inner{
        border-radius: 2rem;
        font-size: .9rem;
        width: 100%;
        height: auto;
        padding: 1.7rem;
        background: var(--white);
        box-shadow: 1px 3px 15px rgba(173, 173, 173, 0.856);
    }
    
    .skills{
        margin: 0rem;
    }
    .portfolio .button-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .subscribe .subscribe-text h3{
        color: #ffd5e3;
        font-size: 1.5rem;
    }
    .subscribe .subscribe-text p{
        font-size: .8rem;
        color: #f0e3e3;
    }


    .footer .footer-bottom{
        padding-top: .5rem;
      padding-bottom: 1rem;
    }
    
    .footer .footer-bottom .footer-inner{
        color: var(--white);
        display: block;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}